# retrieve run data from mongo

In [1]:
from pymongo import MongoClient
import polars as pl

client = MongoClient("localhost", 27017)
db = client["trader"]
collection = db["message"]
trading_session_id = "3ff39a04-d244-44f1-b9a0-a33465394143"
documents = list(collection.find({"trading_session_id": trading_session_id}))
run_data = pl.DataFrame(documents)

In [64]:
for i in range(6):

    print(run_data['content'][i]['active_orders'])

[]
[{'id': b'\x85k>\x17).E\xd8\x96\xff{9K\xe9\xe8\x9d', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 2000.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 26, 676000)}, {'id': b'\x12\x83\xf5k7-N\x8d\xb43F\xe9\x1fce\x93', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1999.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 27, 55000)}]
[{'id': b'\x85k>\x17).E\xd8\x96\xff{9K\xe9\xe8\x9d', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 2000.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 26, 676000)}, {'id': b'\x12\x83\xf5k7-N\x8d\xb43F\xe9\x1fce\x93', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1999.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 27, 55000)}]
[{'id': b'\x85k>\x17).E\xd8\x96\xff{9K\xe9\xe8\x9d', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 2000.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 26, 676000)}, {'id': b'\x12\x83\xf5k7-N\x8d\xb43F\xe9\x1fce\x93', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1999.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 27, 55000)}, {'id': b'\xd8Cb%\x0eyC{\xbc\xa0\xe2Xj\x835=', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 2001.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 29, 284000)}, {'id': b" \xfft\x88\x90pC\xb8\xb6\xc7\xa5'%o\xa3\xef", 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1995.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 29, 893000)}]
[{'id': b'\x85k>\x17).E\xd8\x96\xff{9K\xe9\xe8\x9d', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 2000.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 26, 676000)}, {'id': b'\x12\x83\xf5k7-N\x8d\xb43F\xe9\x1fce\x93', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1999.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 27, 55000)}, {'id': b" \xfft\x88\x90pC\xb8\xb6\xc7\xa5'%o\xa3\xef", 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1995.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 29, 893000)}]
[{'id': b'\x12\x83\xf5k7-N\x8d\xb43F\xe9\x1fce\x93', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1999.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 27, 55000)}, {'id': b" \xfft\x88\x90pC\xb8\xb6\xc7\xa5'%o\xa3\xef", 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': 1, 'amount': 1.0, 'price': 1995.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 29, 893000)}, {'id': b'\xb7\xa36\xe1\xfb`G\xb4\xbd\x10\xb1\xccQ\xba\xd2\x16', 'trader_id': 'NOISE_457039e4-7048-4c07-a8ea-d879531dcf3f', 'order_type': -1, 'amount': 1.0, 'price': 2001.0, 'timestamp': datetime.datetime(2024, 5, 15, 14, 5, 32, 855000)}]

In [50]:
run_data['content'][6]['incoming_message']

{'amount': None,
 'price': None,
 'order_type': None,
 'trader_id': None,
 'order_id': None}

# retrieve processed lobster data from duckdb

In [28]:
from analysis.run_lobster import pick_one

lobster_data = pick_one('3ff39a04-d244-44f1-b9a0-a33465394143')

/Users/venvoo/Library/CloudStorage/GoogleDrive-venvoooo@gmail.com/My Drive/trader/trader_london/analysis/prepare_data.py:49: ChronoFormatWarning: Detected the pattern `.%f` in the chrono format string. This pattern should not be used to parse values after a decimal point. Use `%.f` instead. See the full specification: https://docs.rs/chrono/latest/chrono/format/strftime
  .str.strptime(pl.Datetime, "%Y-%m-%dT%H:%M:%S.%f", strict=False)

In [21]:
lobster_data.drop(['trading_session_id', 'Event Type', 'Order ID', 'Size', 'Price',
       'Direction'], inplace=True, axis=1)

In [70]:
lobster_data.head(7)

,trading_session_id,Time,Event Type,Order ID,Size,Price,Direction,LOBSTER_BOOK_0,LOBSTER_BOOK_1,LOBSTER_BOOK_2,...,LOBSTER_BOOK_30,LOBSTER_BOOK_31,LOBSTER_BOOK_32,LOBSTER_BOOK_33,LOBSTER_BOOK_34,LOBSTER_BOOK_35,LOBSTER_BOOK_36,LOBSTER_BOOK_37,LOBSTER_BOOK_38,LOBSTER_BOOK_39
32,3ff39a04-d244-44f1-b9a0-a33465394143,0.000000,1,6644c1265393e88cc84a4693,1.0,2000.0,-1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,3ff39a04-d244-44f1-b9a0-a33465394143,1.999633,1,6644c1285393e88cc84a46af,1.0,2000.0,1.0,2000.0,0.0,2000.0,...,1993.0,0.0,2008.0,0.0,1992.0,0.0,2009.0,0.0,1991.0,0.0
72,3ff39a04-d244-44f1-b9a0-a33465394143,2.999534,1,6644c1295393e88cc84a46bb,1.0,2000.0,1.0,2000.0,0.0,2000.0,...,1993.0,0.0,2008.0,0.0,1992.0,0.0,2009.0,0.0,1991.0,0.0
102,3ff39a04-d244-44f1-b9a0-a33465394143,4.999430,1,6644c12b5393e88cc84a46d9,1.0,1999.0,1.0,2000.0,0.0,2001.0,...,1991.0,0.0,2008.0,0.0,1990.0,0.0,2009.0,0.0,1989.0,0.0
127,3ff39a04-d244-44f1-b9a0-a33465394143,6.000148,1,6644c12c5393e88cc84a46f3,1.0,2001.0,1.0,2000.0,0.0,2000.0,...,1990.0,0.0,2008.0,0.0,1989.0,0.0,2009.0,0.0,1988.0,0.0
161,3ff39a04-d244-44f1-b9a0-a33465394143,9.000304,1,6644c12f5393e88cc84a4715,1.0,1995.0,1.0,2001.0,1.0,1999.0,...,1989.0,0.0,2009.0,0.0,1988.0,0.0,2010.0,0.0,1987.0,0.0
185,3ff39a04-d244-44f1-b9a0-a33465394143,10.999914,1,6644c1315393e88cc84a472d,NaN,NaN,NaN,2001.0,1.0,1999.0,...,1989.0,0.0,2009.0,0.0,1988.0,0.0,2010.0,0.0,1987.0,0.0